.background{
  height: 100vh;
  width: 100%;
  background-image: url(img/ToDo2.png);
  background-position: center;
  background-size: 50% 100vh;
}
.darkmode{
  background-color: rgba(10,10,10,1);
}
.logo{
  font-size: 60px
}
.addTD{
  font-size: 120px;
}
.centered{
  align-content: center;
}
.right-text{
  text-align: right;
}
.centered-text{
  text-align: center;
}
.padding1{
  padding: 10px
}
.border1{
  border: 5px;
  border-color: rgba(255,255,255,1);
}
.righteous{
  font-family: 'Righteous', cursive;
}
.margintop{
  margin-top: 20px;
}
.my-btn{
  color: rgba(200,200,200,1);
  background: none;
  border-color: rgba(100,100,100,1);
  border-style: solid;
}
.add-btn{
  border: 5px solid rgba(100,100,100,1);
  border-radius: 120px;
  background: none;
  width: 183px;
}
.the-todo-text{
  font-size: 24px;
  margin: 10px;
}
.deleteBtn{
  background: none;
  border-radius: 12.5px;
  height: 25px;
  border-width: 3px;
  border-style: solid;
  width: 100%;
}
.editBtn{
  background: none;
  border-radius: 12.5px;
  height: 25px;
  border-width: 3px;
  border-style: solid;
  width: 100%;
}
